@font-face {
  font-family: 'Oswald', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}
@font-face {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  src:  url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Oswald&display=swap');
}

body {
	background: lightblue;

}
.upperresume {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background: teal;
	width:  85%;
	margin-top: 50px;
	margin-right: 50px;
    margin-left: 50px;
	height:  100px;

}
.upperresume .left_part {
	font-family: 'Oswald', sans-serif;
	grid-column: span 4;
}
h2 {
	color: #FFFFFF;
	padding-left: 20px;
}
h4 {
	color: #E2E2E2;
	padding-left: 20px;
}
.upperresume .right_part {
	grid coloumn:  span 1;
}
.upperresume .right_part .avatar {
	  vertical-align: middle;
  	  width: 90px;
      height: 90px;
      border-radius: 50%;
      padding: 7px;
}

.resume {
	display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;	
    background: whitesmoke;
    width: 85%;
}

.resume .left_sidebox {
	height:  900px;
	grid-column: span 3;
    background: #243c54;
    padding: 20px;
    color: ghostwhite;
}
ul {
  list-style-type: square;
}
.resume .right_sidebox {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	height: 900px;
	grid-column: span 5;
	background: whitesmoke;
	padding:  20px;
	color: black;

}



